<head>
  <%= stylesheet_link_tag 'application', 'users_index' %>
</head>

<ul class="users-list">
  <% @users.includes(:posts).each do |user| %>
    <li id="user_<%= user.id %>" class="user">
      <img src="<%= asset_path(user.photo) %>" alt="<%= user.name %>'s Photo" width="100" height="100" />
      <%= link_to user.name, user_path(user), class: 'user-name' %>
      <p class="no-posts">Number of Posts: <%= user.posts.size %></p>
    </li>
  <% end %>
</ul>

<%= form_with(model: [current_user, Post.new], local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, placeholder: "Text" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Post" %>
  </div>
<% end %>
