<head>
  <%= stylesheet_link_tag 'application', 'users_show' %>
</head>

<div class="user-info">
  <img class="user-photo" src="<%= asset_path(@user.photo) %>" alt="<%= @user.name %>'s Photo" width="100" height="100" />
  <%= tag.div @user.name, class: 'user-name' %>
  <p class="no-posts">Number of posts: <%= @user.post_counter %> </p>
</div>

<div class="bio-container">
  <p>Bio</p>
  <%= @user.bio %>
</div>

<div class="posts-container">
  <ul class="posts-list">
    <% @user.recent_posts.includes(:comments, :likes).each do |post| %>
      <li class="list-item">
        <%= post.title %>
        <p><%= post.text %></p>

        <div class="likes-div">
          <p>Comments: <%= post.comments.size %></p>
          <p class="likes">Likes: <%= post.likes.size %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="btn-div">
  <%= link_to "See all Posts", user_posts_path(@user), class: "see-all-btn" %>
</div>
