<div>
  <img src="<%= @user.photo %>" alt="<%= @user.name %>'s Photo" width="100" height="100" />
</div>

<div>
  <strong><%= @user.name %></strong> 
</div>

<div>
  <strong>Number of posts:</strong> <%= @user.post_counter %>
</div>

<div>
  <strong>Bio:</strong> <%= @user.bio %>
</div>

<div>
  <ul>
    <% @user.recent_posts.each do |post| %>
      <li>
        <%= post.title %>
        <p><%= post.text %></p>

        <p><strong>Comments:</strong> <%= post.comments.count %></p>

        <p><strong>Likes:</strong> <%= post.likes.count %></p>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "All Posts", user_posts_path(@user), class: "btn btn-primary" %>
</div>