<head>
  <%= stylesheet_link_tag 'application', 'posts_index' %>
</head>

<div class="user-info">
  <img class="user-photo" src="<%= asset_path(@user.photo) %>" alt="<%= @user.name %>'s Photo" width="100" height="100" />
  <%= tag.div @user.name, class: 'user-name' %>
  <p class="no-posts">Number of posts: <%= @user.post_counter %> </p>
</div>

<% @user.posts.includes(:comments).each do |post| %>
  <div class="posts-container">
    <h2 id="post_<%= post.id %>"><%= link_to post.title, user_post_path(@user, post) %></h2>
    <p><%= post.text %></p>

    <div class="likes-div">
      <p>Comments: <%= post.comments.size %></p>
      <p class="likes">Likes: <%= post.likes.size %></p>
    </div>

    <ul class="comments-list">
      <% post.recent_comments.each do |comment| %>
        <li>
        <%= comment.user.name %>: <%= comment.text %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="pagination">
    <%= will_paginate @posts %>
</div>
