<head>
  <%= stylesheet_link_tag 'application', 'posts_index' %>
</head>

<div class="user-info">
  <img class="user-photo" src="<%= @user.photo %>" alt="<%= @user.name %>'s Photo" />
  <%= tag.div @user.name, class: 'user-name' %>
  <p class="no-posts">Number of posts: <%= @user.post_counter %> </p>
</div>

<% @user.posts.each do |post| %>
  <div class="posts-container">
    <h2><%= link_to post.title, user_post_path(@user, post) %></h2>
    <p><%= post.text %></p>

    <div class="likes-div">
          <p>Comments: <%= post.comments.count %></p>
          <p class="likes">Likes: <%= post.likes.count %></p>
    </div>

    <ul class="comments-list">
      <% post.recent_comments.each do |comment| %>
        <li>
        <%= comment.user.name %>: <%= comment.text %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>