<div>
  <h1><strong><%= @post.title %></strong></h1>
  <strong>Likes:</strong> <%= @post.likes_counter %>
  <strong>Comments:</strong> <%= @post.comments_counter %>
</div>

<div>
  <p><%= @post.text %></p>
</div>

<div>
  <strong>Comments:</strong>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.text %>
      </li>
    <% end %>
  </ul>
</div>